@(title: String, cssStyles: Html = Html(""), jsScripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        @cssStyles

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dataTables.bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        @jsScripts
    </head>
    <body>
        <div class="container">
            @content
        <hr>
        <footer>
            <p>&copy; 2015</p>
        </footer>
        </div>
    </body>
</html>
